/* status-indicator.css */
:root {
  /* 🎨 Paleta de Cores */
  /* Cor predominante (identidade iFood) */
  --cor-principal: #ea1d2c; /* Vermelho iFood */
  --cor-principal-hover: #c41624; /* Vermelho escuro p/ hover */

  /* Suporte e Destaques */
  --cor-secundaria: #ff9f43; /* Laranja claro para chamar atenção */
  --cor-secundaria-hover: #e0861e;

  /* Confirmação / Sucesso */
  --cor-verde: #27ae60; /* Verde vibrante */
  --cor-verde-hover: #1e874b;

  /* Erros / Alertas */
  --cor-vermelho: #dc3545; /* Vermelho de alerta (mais neutro) */

  /* Links / Informações */
  --cor-azul: #3498db; /* Azul moderno */
  --cor-azul-hover: #217dbb;

  --cor-cinza-claro: #f4f4f4;
  --cor-cinza-medio: #666;
  --cor-cinza-medio-hover: #333;
  --cor-branco: #fff;

  /* 🌑 Sombras */
  --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.2);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }
}

.status-indicator {
  /* Posição Fixa no canto superior direito */
  position: fixed;
  top: 20px;
  left: 20px;

  /* Estilos Visuais */
  animation: pulse 2s infinite;
  padding: 3px 6px;
  border-radius: 3px;
  color: var(--cor-branco);
  font-weight: bold;
  font-size: 0.7rem;
  /* text-align: center; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  /* 🟢 ALINHAMENTO HORIZONTAL: Use Flexbox */
  display: flex;
  align-items: center; /* Alinha o ícone e o texto verticalmente (ao centro) */
  gap: 4px; /* Adiciona um pequeno espaço entre o ícone e o texto */
  z-index: 1000; /* Garante que fique acima de outros elementos */
  transition: background-color 0.3s ease; /* Transição suave de cor */
}

.status-indicator:hover {
  background-color: lightgreen;
}

/* Cores dinâmicas definidas por classes */
.status-indicator.aberta {
  background-color: var(--cor-verde); /* Verde */
}

.status-indicator.fechada {
  background-color: #f44336; /* Vermelho */
}

.status-indicator-schedule {
  font-size: 10px;
  opacity: 0.8;
}

/* Modal com horário de funcionamento */
.modal-schedule {
  max-width: 400px;
  padding: 25px;
  border-radius: 12px;
  background-color: var(--cor-branco);
  box-shadow: var(--shadow-lg);
  text-align: left;
  /* Para garantir que não se sobreponha a outros modais */
  z-index: 1000;
}

.modal-schedule h2 {
  color: var(--cor-cinza-medio-hover);
  border-bottom: 1px solid var(--cor-cinza-claro);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 1em;
}

.schedule-item strong {
  color: var(--cor-cinza-medio);
}

.info-schedule {
  margin-top: 20px;
  font-size: 0.8em;
  color: var(--cor-cinza-medio);
  text-align: center;
  border-top: 1px dashed var(--cor-cinza-claro);
  padding-top: 10px;
}
