.config-loja-container {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: var(--shadow-sm);
}

.config-loja-container h2 {
  margin-bottom: 20px;
  color: var(--cor-principal);
  text-align: center;
}

.config-loja-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.config-loja-container label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #444;
}

.config-loja-container input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form-config label {
  display: block;
  margin-bottom: 15px;
}

.form-config input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.logo_loja {
  width: 50px;
  height: 50px;
  margin: 8px auto;
}

.favicon_loja {
  width: 24px;
  height: 24px;
  margin: 8px auto;
}

/* ===== 🎨 Personalização Visual ===== */
.config-form input[type="color"] {
  width: 75px; /* aumenta o tamanho do botão */
  height: 55px; /* altura maior para o seletor */
  border: none; /* remove borda feia padrão */
  cursor: pointer; /* indica clicável */
  border-radius: 8px; /* cantos suaves */
  background: none; /* remove fundo */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease;
}

.config-form input[type="color"]:hover {
  transform: scale(1.1);
}

.config-form label.cor_principal,
.cor_secundaria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.form-config button {
  margin-top: 10px;
}

/* Efeitos gerais */
.btn-salva-config-loja:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

/* Spinner */
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
